body {
  .custom-text-field {
    label.Mui-focused {
      color: var(--darker);
    }

    .Mui-focused {
      .MuiOutlinedInput-notchedOutline {
        border-color: var(--darker);
      }
    }
  }

  .custom-text-field.change-color {
    .MuiOutlinedInput-notchedOutline {
      border-color: var(--light-dark);
    }

    label.Mui-focused {
      color: var(--light-dark);
    }

    .Mui-focused {
      .MuiOutlinedInput-notchedOutline {
        border-color: var(--light-dark);
      }
    }
  }
}
