body {
  .custom-text-field {
    label.Mui-focused {
      color: var(--darker);
    }

    .Mui-focused {
      .MuiOutlinedInput-notchedOutline {
        border-color: var(--darker);
      }
    }
  }

  .custom-text-field.change-color {
    .MuiOutlinedInput-notchedOutline {
      border-color: var(--light-dark);
    }

    label.Mui-focused {
      color: var(--light-dark);
    }

    .Mui-focused {
      .MuiOutlinedInput-notchedOutline {
        border-color: var(--light-dark);
      }
    }
  }
}

// body {
//   .MuiSwitch-root .Mui-checked + .MuiSwitch-track {
//     background-color: var(--icon-color);
//   }

//   .MuiSwitch-root .Mui-checked {
//     color: var(--icon-color);
//   }

//   .MuiOutlinedInput-root,
//   .MuiInputLabel-root.Mui-focused,
//   .MuiInputLabel-outlined {
//     color: var(--input-color);
//   }

//   .MuiOutlinedInput-root svg {
//     fill: var(--input-color);
//   }

//   .MuiOutlinedInput-root {
//     border-radius: 10px;
//   }

//   .MuiOutlinedInput-notchedOutline,
//   .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline,
//   .MuiOutlinedInput-root:hover,
//   .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
//     border-color: var(--input-color);
//   }

//   .Mui-error .MuiOutlinedInput-notchedOutline,
//   .MuiOutlinedInput-root.Mui-error.Mui-focused .MuiOutlinedInput-notchedOutline,
//   .MuiOutlinedInput-root.Mui-error:hover,
//   .MuiOutlinedInput-root.Mui-error:hover .MuiOutlinedInput-notchedOutline {
//     border-color: var(--error-color);
//   }

//   .MuiOutlinedInput-notchedOutline {
//     border-radius: 10px;
//   }

//   .MuiCheckbox-root,
//   .MuiCheckbox-root.Mui-checked,
//   .MuiCheckbox-root:hover {
//     color: var(--light-icon-color);
//   }

//   .action-button {
//     background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), var(--button-color);
//     font-size: 20px;
//     border-radius: 10px;
//     color: var(--text-color);
//     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
//     &:hover {
//       background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), var(--button-color);
//     }
//   }

//   .text-button {
//     background: transparent;
//     font-size: 20px;
//     color: var(--text-color);
//     padding: 5px 10px;
//     width: auto;
//     min-width: auto;

//     &:after {
//       content: '';
//       position: absolute;
//       width: calc(100% - 20px);
//       height: 2px;
//       background-color: var(--text-color);
//       bottom: 8px;
//     }
//   }

//   .success-action {
//     fieldset,
//     .MuiOutlinedInput-root:hover,
//     .MuiOutlinedInput-root:hover fieldset,
//     .MuiInputBase-root.Mui-focused fieldset {
//       border-color: var(--success);
//     }

//     .MuiFormHelperText-root {
//       color: var(--success);
//     }

//     p {
//       color: var(--success);
//       position: absolute;
//     }
//   }
// }
