.settings-modal {
  height: 500px;
  width: 500px !important;

  .container {
    padding: 10px;
    width: 100%;
    text-align: center;
    overflow: auto;
    height: 100%;

    .title {
      text-align: center;
    }

    .add-button {
      margin: auto;
      display: block;
    }
    .field {
      margin: 20px;
    }

    .roles-select {
      width: 222px;
      margin: 0 20px;
      margin-bottom: 20px;
    }
  }
}
