.add-product-modal {
  height: 650px;
  width: 650px !important;

  .container {
    padding: 10px;
    width: 100%;
    text-align: center;
    overflow: auto;
    height: 100%;

    .title {
      text-align: center;
    }

    .calculate-indexes {
      margin-bottom: 25px;
    }

    .add-button {
      display: block;
      margin: 20px auto;
      width: 100px;
    }
    .field {
      margin-bottom: 20px;
    }

    .nutrition-field {
      margin: 20px;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .nutrition-unit {
        margin: 10px;
      }

      .rws {
        width: 200px;
      }

      .index {
        margin-left: 20px;
        width: 150px;
      }
    }
  }
}
