.produt-details-page {
  .title {
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
  }

  .details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-x: auto;
    padding-bottom: 20px;

    .details-cards-container {
      display: flex;

      .indexes-nutritions {
        margin: 0 20px;
      }
    }

    .product-indexes {
      padding: 20px;
    }
  }

  .index-container {
    display: flex;
    padding: 20px 40px;
  }
  .index-title {
    width: 150px;
    display: inline-block;
  }

  img {
    margin-left: 40px;
    height: 140px;
  }

  .product-details {
    // width: 600px;

    .details-table {
      // width: 600px;
      overflow-x: auto;
      width: 100%;
      height: 100%;
      display: flex;
      padding: 10px;
      padding-left: 20px;

      .list {
        .title {
          width: 150px !important;
          display: inline;
        }
      }
    }
  }

  .nutritions-card {
    margin-top: 20px;
    width: 560px;

    .nutritions-table {
      width: 560px;
      // white-space: nowrap; /* Prevent text wrapping */
      overflow-x: auto;

      td,
      th {
        white-space: nowrap; /* Prevent text wrapping */
        font-size: 12px;
        // text-align: left;
      }
      td:first-child {
        text-align: left;
        padding-left: 25px;
      }

      th:first-child {
        text-align: left;
        padding-left: 25px;
      }

      .table-row .table-cell {
        font-weight: normal;
      }
    }
  }
}
